# Ignore everything
*

# But don't ignore directories, so we can recurse into them
!*/

# Don't ignore .py files
!*.py

# Don't ignore .gitignore
!.gitignore

# Ignore pycache directories
__pycache__/
*.pyc

# Ignore checkpoints
checkpoints/

# Ignore logs
*.csv
*.log

# Ignore IDE specific files
.vscode/
.idea/
*.code-workspace

# Ignore Jupyter notebook files
*.ipynb
.ipynb_checkpoints/

# Ignore the dataset directory
deepfashion/